@page "/"


<a href="RazorPageExample1">See Razor Page Example 1</a>
<hr />
<a href="RazorPageExample2">See Razor Page Example 2</a>
<hr />
<a href="RazorPageExample3">See Razor Page Example 3</a>
<hr />
<a href="BlazorExample">See Blazor Example 1</a>
<br />
