@page
@{
    Layout = "_Layout.cshtml";
}

<h1>Razor Page Norm data access example</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<template id="row-template">
    <td>${this.id}</td>
    <td>${this.userName}</td>
    <td>${this.email}</td>
</template>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    (async function () {
        const
            connection = new signalR.HubConnectionBuilder().withUrl("/usersHub").build(),
            tableBody = document.getElementById("table-body"),
            template = document.getElementById("row-template").innerHTML;


        await connection.start();
        
        connection.stream("UsersWithCancelationToken")
            .subscribe({
                next: item => {
                    let tr = document.createElement("tr");
                    tr.innerHTML = new Function('return `' + template + '`').call(item);
                    tableBody.appendChild(tr);
                }
            });
    })();
</script>